* {
  /* default font */
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 18px;

  /* box-model */
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* list style  */
  list-style: none;

  /* default line-height */
  line-height: 1.5;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ded4d4;
}

main {
  padding-bottom: 3rem;
}

#nav-gallery{
  /* selected page styling */
  text-decoration: none;
  color: yellow;
}

h1 {
  /* font */
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;

  /* box-model  */
  width: 100%;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 2.5rem;

  /* text */
  text-align: center;
}

h2 {
  /* font */
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: white;
  
  /* box-model */
  width: 5rem;
  padding: 1rem;
  margin: auto;
  
  text-align: center;
}

h2:hover{
  border: 2px solid black;
}

a {
  color: black;
}

p {
  color: white;

  /* box-model */
  width: 100%;
  margin: auto;


  text-align: center;
}

.social-icons li a span {
  padding: 1rem;
}


.card-container {
  /* flex-box */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card-container div {
  /* background */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* box-model */
  min-width: 350px;
  min-height: 250px;
  margin: 1rem;

  /* flex-box */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container p, h2 {
  /* box-model */
  min-width: 8rem;
  margin: 0 auto;
  padding: 0.5rem;
}

/* Individual cards */
.auto-card {
 background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/car.jpeg);
} 

.bw-card {
  background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/black-white.jpg);
}
 

.film-card {
  background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/film.jpg);
}

.nature-card {
  background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/nature.jpeg);
}


.people-card {
  background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/people.jpg);
}

.travel-card {
  background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/travel.jpg);
}

.water-card {
  background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/water.jpg);
}

.sports-card {
  background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(../images/sports.jpg);
}

footer {
  height: auto;
  margin-top: auto;
}