header{
  /* box styling */
  margin: 0;
  padding: 0;
}

.navbar {
  /* flex positioning */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;

  /* background styling */
  background-color: rgba(0, 0, 0, 0.500);
  color: white;
  background-size: contain;

  /* font styling */
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.brand-logo {
  /* logo styling */
  position: relative;
  right: 4rem;
  width: 200px;
  height: 50px;
  background: url(/team-1/assets/images/long_logo.svg) no-repeat left;
  background-size: contain;
  margin: auto;
}

.social-icons ul {
  /* icon styling */
  display: flex;
  gap: 0.5rem;
  margin-right: 1.5rem;
}

.social-icons li {
  /* list styling */
  list-style: none; 
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links ul {
  /* link positioning */
  margin: 0;
  margin-left: 1.5rem;
  padding: 0;
  display: flex;
}

.navbar-links li {
  /* link styling */
  list-style: none; 
}

.navbar-links li a {
  /* anchor styling */
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 15px;
}

#nav-home{
  /* selected page styling */
  text-decoration: none;
  color: yellow;
}

nav .navbar-links ul li::after{
  /* hover styling */
  content: '';
  width: 0;
  height: 1px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav .navbar-links ul li:hover::after{
  /* hover styling */
  width: 75%;
}


.toggle-button {
  /* hamburger icon styling */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  /* hamburger bar styling */
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* hamburger functionality */
@media (max-width: 1050px) {

  .toggle-button {
    /* hamburger box style */
    display: flex;
  }

  .brand-logo {
    /* logo positioning */
    
  }

  .navbar {
    /* navbar positioning */
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    /* link hiding */
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    /* navbar ul styling */
    width: 90%;
    flex-direction: column;
    padding-top: 4rem;
  }

  .navbar-links li {
    /* navbar li positioning */
    text-align: center;
  }

  .navbar-links li a {
    /* navbar anchor padding */
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    /* active bar positioning */
    display: flex;
  }

  .social-icons {
    /* social icon hiding */
    display: none;
    width: 100%;
  }
}