* {
  font-family: 'Rubik', Verdana , sans-serif;
  text-decoration: none;
  font-size: 20px;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  list-style: none;
  line-height: 1.5;
}

html {
  /* background-color: rgb(233, 225, 225); */
  display: flex;
  flex-direction: column;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.377)), url(../images/shrug.jpg);
  background-size: cover;
  background-position: center;

  color: white;
}

/* Main */
main {
  /* Box Model*/
  width: 100%;
  max-width: 40ch;
  margin: 6rem auto;
  padding: 1.5rem;

  display: block;
  place-items: center;
  align-items: center;
  justify-items: center;
}

h1 {
  display: block;
  font-size: 4.35em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;  
}


.social-icons ul li {
  padding: 1rem;
}

.home-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid white;
  background: transparent;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: "Nunito Sans", Verdana, sans-serif;
}

.home-button:hover {
  background-color: black;
}